name: Build binaries
on: [push]

jobs:
  build:
    name: Build package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.x'
      - name: Prepare Environment
        run: |
          corepack enable
      - name: Prepare module
        run: |
          yarn install
        env:
          CI: true
      - name: build & package
        run: |
          # try and avoid timeout errors
          yarn build
          yarn companion-module-build
      - name: Archive module package
        uses: actions/upload-artifact@v4
        with:
          name: Companion module archive
          path: pkg.tgz